TASK 1 - MOVIE GENRE CLASSIFICATION
      pandas
      numpy
      matplotlib
      scikit-learn
      nltk
      joblib

TASK 2 - CREDIT CARD FRAUD DETECTION
      pandas
      numpy
      matplotlib
      scikit-learn
      joblib

TASK 3 - CUSTOMER CHURN PREDICTION
      pandas
      numpy
      matplotlib
      scikit-learn
      joblib
